body {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, #5F0F40, #9A031E, #FB8B24, #ffc914);
  background-size: cover;
  color: #001524;
}

.title {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: 'Poltawski Nowy', serif;
  font-size: 5em;
  text-shadow: 7px 7px 7px #5F0F40;
  color: #283d4c;
}

.re-box {
  color: #e6e6e6;
}

.colon {
  color: black;
}

.client-card {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  border: 6px solid #9A031E;
  border-radius: 4px;
  background-color: #E36414;
  margin: 5% auto;
  box-shadow: 17px 17px 15px #5F0F40;
  width: 60%;
  font-family: 'Overpass', sans-serif;
  font-weight: 500;
}

.bold {
  font-weight: bold;
  font-size: 1.5em;
}

.add-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 5%;
  align-items: center;
  width: 30%;
  background-color: #ffc914;
  border: 6px solid #9A031E;
  border-radius: 4px;
  box-shadow: 17px 17px 15px #5F0F40;
}

li {
  list-style-type: none;
}

.button-box {
  display: flex;
  height: 2em;
  margin-bottom: 8px;
}

button {
  width: 100px;
  height: 3em;
}